<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="Keywords" content="jquery,table,grid,fixed,表頭表側固定,dosancole" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="web/css/superTables.css" />
    <link rel="stylesheet" type="text/css" href="web/css/dsclgrid.css" />
    <link rel="stylesheet" type="text/css" href="web/css/jqueryui/jquery-ui-1.8.16.custom.css" />
    <script type="text/javascript" src="web/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="web/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="web/js/superTables.js" ></script>
    <script type="text/javascript" src="web/js/dsclgrid.js" ></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
    <script type="text/javascript">
(function(w,d){
    w._gaq=[["_setAccount","UA-33920795-1"],["_trackPageview"]];
    w.___gcfg={lang:"ja"};
    var s,e = d.getElementsByTagName("script")[0],
    a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
    s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};
    a(("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js","ga");
    a("https://apis.google.com/js/plusone.js");
    a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
    a("//platform.twitter.com/widgets.js","twitter-wjs");
    a("//connect.facebook.net/ja_JP/all.js#xfbml=1","facebook-jssdk");
})(this, document);
    </script>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>dsclgrid.js</h1>
          <h2>super grid table for jQuery.</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/dosancole/dsclgrid/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/dosancole/dsclgrid/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/dosancole/dsclgrid" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

<div class="social">
<table style="border:0px;"><tr><td style="border:0px;">
    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button"
    data-lang="ja"
    data-url="http://dosancole.github.com/dsclgrid/"
    data-text="このエントリーをツィートする"
    data-via="me"
    ></a>
    <!-- Google plusone -->
    <g:plusone size="medium" href="http://dosancole.github.com/dsclgrid/"></g:plusone>
    </td><td style="border:0px;">
    <!-- Facebook -->
    <fb:like href="http://dosancole.github.com/dsclgrid/" send="false" width="350" show_faces="false"></fb:like>
    </td>
</tr></table>
</div>

        <hr>

        <section id="main_content">
{{ content }}
        </section>


        <footer>
          dsclgrid.js - super grid table for jQuery. is maintained by <a href="https://github.com/dosancole">dosancole</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>