<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="Keywords" content="jquery,table,grid,fixed,表頭表側固定,ヘッダ固定,ページャ,多段ソート,dosancole" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="web/css/superTables.css" />
    <link rel="stylesheet" type="text/css" href="web/css/dsclgrid.css" />
    <link rel="stylesheet" type="text/css" href="web/css/jqueryui/jquery-ui-1.8.16.custom.css" />
    <script type="text/javascript" src="web/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="web/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="web/js/superTables.js" ></script>
    <script type="text/javascript" src="web/js/dsclgrid.js" ></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
    <script type="text/javascript">
(function(w,d){
    w._gaq=[["_setAccount","UA-33920795-1"],["_trackPageview"]];
    w.___gcfg={lang:"ja"};
    var s,e = d.getElementsByTagName("script")[0],
    a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
    s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};
    a(("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js","ga");
    a("https://apis.google.com/js/plusone.js");
    a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
    a("//platform.twitter.com/widgets.js","twitter-wjs");
})(this, document);
    </script>
</head>

  <body>
	<!-- facebook -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

    <div id="container">
      <div class="inner">

        <header>
          <h1>dsclgrid.js&nbsp;&nbsp;&nbsp;<span style="color:#D5000D;font-size:24px;">v1.0 Released.</span></h1>
          <h2>super grid table for jQuery.&nbsp;&nbsp;<img src="../images/octocat-icon.png" /></h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/dosancole/dsclgrid/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/dosancole/dsclgrid/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/dosancole/dsclgrid" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

<div class="social">
<table style="border:0px;"><tr><td style="border:0px;">
    <!-- Twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button"
    data-lang="ja"
    data-url="http://www.dosancole.com/dsclgrid/"
    data-text="このエントリーをツィートする"
    data-via="me"
    ></a>
    <!-- Google plusone -->
    <g:plusone size="medium" href="http://www.dosancole.com/dsclgrid/"></g:plusone>
    <!-- Hatena -->
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
    data-hatena-bookmark-layout="standard"
    data-hatena-bookmark-url="http://www.dosancole.com/dsclgrid/">
    <img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
        alt="このエントリーをはてなブックマークに追加" width="20" height="20"
        style="border: none">
    </a>
    </td><td style="border:0px;">
    <!-- Facebook -->
    <div id="fb-root"></div>
    <fb:like href="http://www.dosancole.com/dsclgrid/" send="false" width="350" show_faces="false"></fb:like>
    </td>
</tr></table>
</div>

        <hr>

        <section id="main_content">
{{ content }}

<div class="fb-comments" data-href="http://www.dosancole.com/dsclgrid/" data-width="500" data-num-posts="5"></div>
        </section>


        <footer>
          dsclgrid.js - super grid table for jQuery. is maintained by <a href="https://github.com/dosancole">dosancole</a> / <a href="http://twitter.com/dosancole">@dosancole</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>